<div class="Consultas container sticky-top">
    <div>
        <h1 class="TituloEncabezados text-center ">{{titulo}}</h1>
    </div>

    <div>
        <h3 class="subtitulo"><strong> Why do we use it?</strong></h3>
        <p class="texto">
            It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
            letters, as opposed to using 'Content here, content here', making it look like readable English. Many
            desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a
            search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved
            over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
        </p>
        <hr>
        <div class="btn-group btn-block">

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#popUpDatos"
                [disabled]=adicionar (click)="validacionChecks('adicion'); validacionDatosPopUp('adicion')">
                Agregar
            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#popUpDatos"
                [disabled]=buscar (click)="validacionChecks('buscar'); validacionDatosPopUp('buscar')">
                Buscar
            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#popUpDatos"
                [disabled]=eliminar (click)="validacionChecks('eliminar'); validacionDatosPopUp('eliminar')">
                Eliminar
            </button>
        </div>
        <hr>
        &nbsp;
        &nbsp;
        <div>
            <tabla [arreglo]="atributos"></tabla>
        </div>&nbsp;

    </div>

</div>
<app-pop-ups [tipoDato]="tipoDato" ></app-pop-ups>