/* You can add global styles to this file, and also import other style files */
.titulo{
    color: darkblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.subtitulo{
    color: darkblue;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}