<form>
    <div class="agregar">
        <div class="agregar_contenedor">
            <select class="agregar_tipo" #tipo>
                <option value="ing" selected>+</option>
                <option value="egr">-</option>
            </select>
            <input type="text" class="agregar_descripcion" placeholder="Agregar Descripción" #descripcion>
            <input type="number" class="agregar_valor" placeholder="Valor" #valor>
            <input type="button" class="agregar_btn ion-ios-checkmark-outline" value="+" (click)= obtencionValores() >
        </div>
    </div>
  </form>
