<div class="container">

<form>
  <div class="form-group">
    <label for="nombre">Ingrese su nombre:</label><br>
    <input type="text" name="nombre" id="Agregar" placeholder="Por favor digite su nombre" class="form-control" #nombreInput>
  </div>
  <div class="form-group">
    <label for="apellido">Ingrese su apellido:</label><br>
    <input type="text" name="apellido" id="NuevoApellido" placeholder="por favor digite su apellido" class="form-control" #apellidoInput>
  </div>

  </form>
  <br><br>

  <div >
   <!--  <button type="submit"  class="btn btn-primary" (click)="onAgregarPersona(nombreInput,apellidoInput)">Agregar</button> -->
   <button type="submit" class="btn btn-primary" (click)="onAgregarPersona()">Agregar</button>
  </div>
</div>
