*{
    margin:10px;
}

.areasTexto{

    border: 1px solid black;
    margin:10px;
    width: 200px;
    height: 20px;
    margin-top: 20px;
    
}

.etiqueta{
 padding: 10px;
 color: darkblue;
 text-align:left;
 font-family: Arial, Helvetica, sans-serif;

}

h1{
    color: blue;
    padding: 12px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;

}

h3{
    color: black;
    padding: 12px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
   
}
button{

    color:gray;
    box-shadow: black;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding:10px;
    align-items: center;

}

#formulario{

    border:10px solid black;
    background: lightblue;
    border-radius:20px;
    width: 400px;
}