<div class="cabecero">
  <div class="presupuesto">
      <div class="presupuesto_titulo">
         {{title}}
      </div>

      <div class="presupuesto_valor">{{totalValores() | currency}}</div>

      <div class="presupuesto_ingreso limpiarEstilos">
          <div class="presupuesto_ingreso--texto">Ingresos</div>
          <div class="right">
              <div class="presupuesto_ingreso--valor">{{ingresosTotal|currency}}</div>
              <div class="presupuesto_ingreso--porcentaje">&nbsp;</div>
          </div>
      </div>

      <div class="presupuesto_egreso limpiarEstilos">
          <div class="presupuesto_egreso--text">Egresos</div>
          <div class="right limpiarEstilos">
              <div class="presupuesto_egreso--valor">{{egresosTotal |currency}}</div>
              <div class="presupuesto_egreso--porcentaje">45%</div>
          </div>
      </div>
  </div>
</div>



<app-busqueda></app-busqueda>

<div class="contenedor limpiarEstilos">
<app-ingresos>/</app-ingresos>
<app-egresos></app-egresos>

</div>

