<nav class="navbar navbar-inverse bg-dark">
<div>
<a [routerLink]="['introduccion']" class="text-white">Introduccion</a>
&nbsp;
<a [routerLink]="['consulta']" class="text-white">Consulta de Personas</a>
&nbsp;
<a [routerLink]="['adicion']" class="text-white">Adicion de Personas</a>
&nbsp;
<a [routerLink]="['modificacion']" class="text-white">Modificacion de Personas</a>
&nbsp;
<a [routerLink]="['eliminacion']" class="text-white">Eliminacion de Personas</a>
&nbsp;
 <a [routerLink]="['']" class="navbar-right" class="text-white">Volver atras</a>
</div>

</nav>