<div class="container">
  <div class="mat-elevation-z8">
<table mat-table [dataSource]="arreglo" class="table text-center" >
  <!-- name -->
  <ng-container matColumnDef="userId">
    <th mat-header-cell *matHeaderCellDef class="text-center text-uppercase">Id</th>
    <td mat-cell *matCellDef="let arreglo"> {{ arreglo.userId }} </td>
  </ng-container>

  <!-- code -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef class="text-center text-uppercase">Nombre</th>
    <td mat-cell *matCellDef="let arreglo"> {{ arreglo.id }} </td>
  </ng-container>

  <!-- name -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef class="text-center text-uppercase">Edad</th>
    <td mat-cell *matCellDef="let arreglo"> {{ arreglo.title }} </td>
  </ng-container>

  <!-- code -->
  <ng-container matColumnDef="completed">
    <th mat-header-cell *matHeaderCellDef class="text-center text-uppercase">Salario</th>
    <td mat-cell *matCellDef="let arreglo"> {{ arreglo.completed | number: '3.3-3'}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnasMostrar" ></tr>
  <tr mat-row *matRowDef="let row; columns: columnasMostrar;"></tr>
</table>
<mat-paginator showFirstLastButtons [pageSizeOptions]="[5, 10, 24]"></mat-paginator>
</div>
</div>