<div class="cabecero">
    <div class="presupuesto">
        <div class="presupuesto_titulo">
            Presupuesto Disponible:
            {{"HOME.title" | translate }}
        </div>
        
        <div class="presupuesto_valor">+ {{disponible | number: '2.2-2'}}</div>
        
        <div class="presupuesto_ingreso limpiarEstilos">
            <div class="presupuesto_ingreso--texto">Ingresos</div>
            <div class="right">
                <div class="presupuesto_ingreso--valor" >+ {{ingresos | number: '2.2-2'}}</div>
                <div class="presupuesto_ingreso--porcentaje">&nbsp;</div>
            </div>
        </div>
        
        <div class="presupuesto_egreso limpiarEstilos">
            <div class="presupuesto_egreso--text">Egresos</div>
            <div class="right limpiarEstilos">
                <div class="presupuesto_egreso--valor">- {{egresos | number: '2.2-2'}}</div>
                <div class="presupuesto_egreso--porcentaje">{{porcentaje | number: '2.0-0'}}%</div>
            </div>
        </div>
    </div>
  </div>

  <app-barra (envioValorIngreso)="ingresos=$event" (envioValorEgreso)="egresos=$event" (envioValorDisponible)="disponible=$event"></app-barra>
 