*{
	margin: auto;
}
.TituloPrincipal{
	text-align: center;
	color:white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	padding: 30px;
	position: static;
}

.ComponenteTitulo{
	background:darkblue;
	padding: 25px;
}

.ComponenteBarraBusqueda{
	background:lightgray;
	padding:12px;
}
.TituloEncabezados{
	color: darkblue;
	font-size: Arial, Helvetica, sans-serif;
	font-size: 30px;
	text-align: left;
	margin-left: 20px;
}
.subtitulo{
	color: darkblue;
	font-size: Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: left;
	margin-left: 20px;
}
.texto{
	padding: 20px;
	font-size: Arial, Helvetica, sans-serif;
	align-items: center;
	text-align: justify;
}
.BotonEsquina{
	background:lightgray;
	padding:12px;
	text-align: right;
	align-self: auto;
}
.piePagina{
	width: 100%;
	text-align: left;
	position: absolute;
	bottom: 0 !important;
}

.tablaDatos{
	font-family: Arial, Helvetica, sans-serif;
	padding: 20px;
	text-align: center;
	margin-left: 10%;
}
th{
	background:black;
	color:white;
	padding:15px;
	border:solid 1px black;
}
.divisionTabla{
	background:darkblue;
	color:white;
	padding:10px;
	border:solid 1px black;
}
.contenidoTabla{
	background:lightgray;
	color:black;
	padding:10px;
	border:solid 1px black;
}