         <div class="container">
             <div class="row">
                 <div class="col">
                    <h2>Listado de Personas</h2>
                    <label>Titulo de Persona</label>
                    <input type="text"  [(ngModel)]="tituloPersona" class="form-control">{{tituloPersona}}
                    <button [disabled]="!agregarPersona" (click)="onCrearPersona()" class="btn btn-primary"> agregar persona </button>
                    <p *ngIf="verificacion; else prueba">{{agregarPersonaStatus}} de la palabra {{tituloPersona}}</p>
                    </div>
                    <ng-template #prueba>
                        <p>Todavia no se ah agregado ningun dato</p>
                    </ng-template>

             </div>
         </div>
       

