<div class="container">

    <h3>{{tituloCalculadora}}</h3>
    <div class=calculadora>
        <form>
            <div class="form-group">

                <label> Operando A</label>
                <input type="number" name="adicion" [(ngModel)]="PrimerValor" placeholder="Ingrese el primer Valor"
                    class="form-control">

                <label> Operando b</label>
                <input type="number" name="adicionOperando" [(ngModel)]="SegundoValor"
                    placeholder="Ingrese el segundo Valor" class="form-control">

            </div>

        </form>


        <button class="btn btn-primary" type="submit" (click)="getSuma()">sumar</button>
        <button class="btn btn-primary" type="submit" (click)="getResta()">restar</button>
        <button class="btn btn-primary" type="submit" (click)="getMultiplicacion()">multiplicar</button>
        <button class="btn btn-primary" type="submit" (click)="getDivision()">dividir</button>

        <p id="resultadoTotal">El resultado es de: {{total}}</p>
    </div>
</div>