<div class="container fixed-top colorBody1">
<nav class="navbar navbar-expand-lg navbar-light colorNavbar2 mt-1">
    <a class="navbar-brand ml-3">
        <img src='./../../../assets/img/ojo.png' width="40" height="40" loading="lazy">
      </a>
    <a class="navbar-brand colorName4 ml-3"> <strong class="text-uppercase federica6">Pagina de Prueba</strong> </a>
    <button class="navbar-toggler colorBody1 ml-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="container text-justify m-l4 m-r5">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a click="cerrarNavbar()" class="nav-link colorName3" [routerLink]="['/Inicio']">Portada</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a click="cerrarNavbar()" class="nav-link colorName3" [routerLink]="['/Noticias']">Noticias</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a click="cerrarNavbar()" class="nav-link colorName3" [routerLink]="['/NoticiasCompletas']">Noticias Completas </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a click="cerrarNavbar()" class="nav-link colorName3" [routerLink]="['/Mensajes']">Mensajes </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a click="cerrarNavbar()" class="nav-link colorName3" [routerLink]="['/Ajustes']">Ajustes </a>
          </li>

      </ul>
    </div>
    <div class="col">
        <div class="row">
            <p class="m-2">
                <button class="btn btn-outline-warning m-2" type="button">Contacto</button>
            </p>
        </div>
    </div>
       
    </div>
  </nav>
</div>